{% extends ('CoreBundle::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p class="text-center"><a href="{{path('forums_home')}}">Retour à l'index</a></p>
      <h2 class="text-center">Le forum PC</h2>
      <hr />
      <br>
      {% for sujet in pc %}
        <h4 class="text-center"><a href="#">{{ sujet.titre }}</a> par {{ sujet.auteur }}</h4>
        <hr />
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
