/* ==================================================================================================================
    Home Style
   ================================================================================================================== */

/* ==================================================================================================================
    Accueil Style
   ================================================================================================================== */

.accueil {
  max-height: 840px;
}

/* ==================================================================================================================
    Articles Style
   ================================================================================================================== */

.articles {
  max-height: 760px;
}

/* ==================================================================================================================
    Informations Style
   ================================================================================================================== */

.informations {
  max-height: 953px;
}

/* ==================================================================================================================
    Publications Style
   ================================================================================================================== */

.publications {

}

/* ==================================================================================================================
    Publications Style
   ================================================================================================================== */

.equipe {

}