{% extends('::layout.html.twig')%}
{% block title %}La boutique{% endblock %}
{% block body %}
  <div class="row">
    <div class="small-12 columns">
      <h2 class="text-center">La boutique officielle</h2>
        <div class="row">
            <div class="small-4 columns">
                <!-- Content -->
            </div>
            <div class="small-8 columns">
                <!-- Show articles -->
            </div>
        </div>
    </div>
  </div>
{% endblock %}
