{% extends('::layout.html.twig')%}
{% block title %}La boutique{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <article class="bloc_waiting text-center">
            <!-- Content -->
            <p class="text-center">
                La boutique est actuellement en construction et verra le jour plus tard en 2016, afin que tout se passe
                au mieux, merci de vous inscrire sur la newsletter jvn-network et de vérifier vos mails afin d'accéder
                à la boutique dés sa sortie !
            </p>
                <p class="text-center">
                    L'Equipe.
                </p>
                <div class="preloader-wrapper active">
                    <div class="spinner-layer spinner-red-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}
