{% extends('::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">Bienvenue sur la boutique officielle de JVN-Network !</h2>
      <hr />
    </div>
  </div>
</div>
{% endblock %}
