{% extends ('::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!-- Blog News -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Bienvenue sur Jvn-Network.fr !</h3>
      <h5 class="text-center">Là où la communauté prend les commandes</h5>
      <img src="#" alt="#" class="img-responsive" />
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-lg-12">
      <!-- Bloc Accroche -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <h3 class="text-center">Real people, real community</h3>
        <br>
      <div class="col-lg-6">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia.
          Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.</p>
        <a href="{{path('core_commu')}}"><button class="btn btn-theme">En savoir plus</button></a>
    </div>
      <div class="col-lg-6">
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Envie de nous suivre sur les réseaux sociaux ?</h3>
    </div>
  </div>
</div>
{% endblock %}
