{% extends ('::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!-- Bloc News -->
    </div>
  </div>
  <section class="info-bar info-bar-clean hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="text-center">Pensé par la communauté pour la communauté</h2>
          <hr />
          <p class="text-center">Le site a été créer par des anciens de JVN, quoi de mieux que de vous donner les clés pour en faire
          votre JVN, celui qui vous touche, qui vous donne les pleins pouvoirs, ici, nous ne sommes plus que des pilliers, vous êtes
          les décideurs et créateurs.</p>
          <p></p>
        </div>
        <div class="col-sm-4">
          <h2 class="text-center">Une liberté assumée</h2>
          <hr/>
          <p class="text-center">Sur JVN, vous étiez libre, ici, rien ne change, la liberté est encore plus grande de par le sens
          même du site, vous donner les clés pour laisser libre court à votre imagination.</p>
          <p></p>
        </div>
        <div class="col-sm-4">
          <h2 class="text-center">Une fondation unique</h2>
          <hr />
          <p class="text-center">JVN se base sur vous, vous êtes le moteur du site, vous créer du contenu et vous partager ce dernier,
          alors au fond, pourquoi cette fondation ? Simplement parce que sans moteur solide et varié, une communauté ne peut prendre
          racine.</p>
          <p></p>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Bienvenue sur Jvn-Network.fr !</h3>
      <h5 class="text-center">Là où la communauté prend les commandes</h5>
      <img src="#" alt="#" class="img-responsive" />
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-lg-12">
      <!-- Bloc Accroche -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <h3 class="text-center">Real people, real community</h3>
        <br>
      <div class="col-lg-6">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia.
          Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.</p>
        <a href="{{path('core_commu')}}"><button class="btn btn-danger">En savoir plus</button></a>
    </div>
      <div class="col-lg-6">
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Qui sommes-nous ?</h3>
      <p class="text-center">Fini les faux-semblants, vous vous demandé surement qui nous sommes, nous voici.</p>
    </div>
  </div>
</div>
{% endblock %}
