{% extends('::layout.html.twig')%}
{% block body %}
<div class="container">
  <div class="row">
    <h2 class="text-center">Bienvenue chez Krma TV !</h2>
    <hr />
    <p class="text-center">Vous connaissez Krma TV, ce groupe de farouche défenseur du bon goût qui sévit sur Youtube, devinez quoi, ils reviennent sur JVN-network, plus fort, plus puissant,
    plus déterminé et encore plus effronté, bref, ils sont là, ils posent tout sur la table et vous renvoient à vos cours de sciences avec un pied dans le fondement.</p>
  </div>
  <hr />
  <div class="row">
    <hr />
    <!-- Bloc Blog -->
  </div>
  <div class="row">
    <!-- Bloc Chaîne Youtube -->
  </div>
</div>
{% endblock %}
