{% extends ('::layout.html.twig') %}
{% block body %}
<div class="container">
  <div class="row">
    <h2 class="text-center">Mentions légales</h2>
    <hr />
    <p class="text-center">JVN-Network.fr est un site communautaire libre de droit et de propriétés intellectuelles, son nom de domaine est enregistré au près de 1&1.com par Mr Loulier Guillaume,
    tout réservation de domaine à des fins de spams, de blocage ou de diffamation est interdite et devra être signalé au propriétaire cité précédemment.
    </p>
    <p class="text-center">JVN-Network.fr est un site construit et développé par GuikProd, studio libre de droit, toute demande d'utilisation,
    de copie ou de modification du contenu présent au sein de ce domain est interdite et passible de poursuite judiciaire et sera retenu contre l'utilisateur reconnu coupable de ces délits.
    </p>
    <p class="text-center">JVN-Network.fr possède en son sein une boutique, boutique gratuite et payante, ses revenus sont reversés intégralement à l'Equipe en charge de la maintenance du site
    et sont destinées à la maintenance, le support, la mise en contenu et l'achat des articles pour ce site, les membres touchant un retour sur investissement sont prévenus mensuellement de l'échéance
    du paiement et le montant leur est versés sur un compte Paypal/bancaire renseigné par leur soins.
    </p>
    <br>
    <h2 class="text-center">Fonctionnement interne</h2>
    <hr />
    <p class="text-center">JVN-Network.fr est composé d'une équipe interne disponible 6/7J et 18/24H, le site ne fonctionne que par ses membres et pour ses membres, sa communauté est son pint de pivot
    et constitue son équipe, les membres souhaitant intégrer l'Equipe doivent passer au préalable un test technique afin de valider leur capacité à produire du contenu.
    L'Equipe n'est en aucun cas figé et ses membres sont totalement libre d'engagement professionnels au dehors du site, leur investissement est évalué selon le temps passé en ligne, le retour sur contenu
    et le contenu produit, leur rémunération n'est pas encore fixé et ne sera pas basé sur leur volonté personnelle.</p>
    <p class="text-center">Les membres inscrits sur le site ont accès à divers contenus en fonction de leur statuts, ces derniers sont divisés en plusieurs équipes, chaque équipes correspondant à une fonction
    précise et un fonctionnement propre. 
    </p>
  </div>
</div>
{% endblock %}
