{% extends ('CoreBundle::layout.html.twig') %}
{% block body %}
<div class="container">
  <div class="row">
    <h2 class="text-center">Mentions légales</h2>
    <hr />
    <p class="text-center">JVN-Network.fr est un site communautaire libre de droit et de propriétés
    intellectuelles, son nom de domaine est enregistré au près de 1&1.com par Mr Loulier Guillaume,
    tout réservation de domaine à des fins de spams, de blocage ou de diffamation est interdite.
    </p>
    <p class="text-center">JVN-Network.fr est un site construit et développé par GuikProd, studio libre de droit,
    toute demande d'utilisation, de copie ou de modification du contenu présent au sein de ce domaine
    est interdite et passible de poursuite judiciaire.
    </p>
    <p class="text-center">JVN-Network.fr possède en son sein une boutique, boutique gratuite et payante,
    ses revenus sont reversés intégralement à l'Equipe en charge de la maintenance du site
    et sont destinées à la maintenance, le support, la mise en contenu et l'achat des articles pour ce site,
    les membres touchant un retour sur investissement sont prévenus mensuellement de l'échéance
    du paiement.
    </p>
    <p class="text-center">JVN-Network est une application open-source validée par SensioLabsInsight et
    disponible sur GitHub en vue d'une collaboration.</p>
    <img src="https://insight.sensiolabs.com/projects/e8acfbb4-b3d1-4a96-837a-8f307f0283db/big.png" alt="medal" class="img-responsive center-block">
    <br>
    <h2 class="text-center">Fonctionnement interne</h2>
    <hr />
    <p class="text-center">JVN-Network.fr est composé d'une équipe interne disponible 6/7J et 18/24H, le site ne fonctionne que par ses membres et pour ses membres, sa communauté est son pint de pivot
    et constitue son équipe, les membres souhaitant intégrer l'Equipe doivent passer au préalable un test technique afin de valider leur capacité à produire du contenu.
    L'Equipe n'est en aucun cas figé et ses membres sont totalement libre d'engagement professionnels au dehors du site, leur investissement est évalué selon le temps passé en ligne, le retour sur contenu
    et le contenu produit, leur rémunération n'est pas encore fixé et ne sera pas basé sur leur volonté personnelle.</p>
    <p class="text-center">Les membres inscrits sur le site ont accès à divers contenus en fonction de leur statuts, ces derniers sont divisés en plusieurs équipes, chaque équipes correspondant à une fonction
    précise et un fonctionnement propre.
    </p>
    <br>
    <h2 class="text-center">Libertés, droits et devoirs</h2>
    <hr />
    <p class="text-center">Tout contenu posté sur JVN-Network.fr est lié à son propriétaire, son contenu ne peut être recopié ou modifié sans son autorisation, la mention ou la redirection vers
    ce contenu est libre et doit être mentionné au propriétaire par email, ce dernier se réservant le droit d'accepter la mention ou la redirection sous un délai fixé par lui et lui-seul.</p>
    <p class="text-center">Les membres de JVN-Network se doivent de respecter une charte qu'ils signent à l'inscription, cette charte définit leur droits et devoirs, ils sont autorisés à signaler
    cette charte à toute personne ne l'a respectant pas.</p>
    <br>
    <h2 class="text-center">Charte de vie</h2>
    <hr>
    <p class="text-center">La présente charte est liée à JVN-Network et ne saurait être modifié sans le consentement de l'équipe administrative, son application est obligatoire dés la présence
    validée sur le site.</p>
    <p class="text-center"><strong>Article I - Inscription</strong></p>
    <p class="text-center">Tout personne souhaitant s'inscrire sur JVN-Network doit posséder un écrit lisible, compréhensible et présenté de manière correcte (contenu SMS
    s'abstenir) le contenu présenté ici et les avis/commentaires/images postées sont contrôlés et supprimés
    au besoin par les Administrateurs, ces derniers ne réservent le droit de supprimer un compte pour non respect de la règle établie plus haut, l'inscription est régit par un processus de double
    authentification propre à ce site et ne saurait être modifié sans annonces officielles sur le blog de l'Equipe, de plus, toute personne ne signant par la charte à son inscription sera refusé
    et signalé à l'Equipe afin de bloquer tout inscription de sa part.</p>
    <br>
    <p class="text-center"><strong>Article II - Compte</strong></p>
    <p class="text-center">Toute personne inscrite acquiert le droit à un compte personnel, ce dernier contient son espace personnel, son blog, ses commentaires, ses paramètres, ses historiques
    de commandes, ses listes d'envies, son suivi de commande, son statut ainsi que toute données relatives à son compte.
    Ce compte est privé et n'est controlé que par l'Equipe qui se réserve le droit d'en modifier le contenu au besoin, le possesseur d'un compte doit s'assurer que son contenu est valide
    et vérifié.</p>
    <br>
    <p class="text-center"><strong>Article III - Droits et devoirs</strong></p>
    <p class="text-center">Tout membre inscrit acquiert des droits sur le site et des devoirs envers ce dernier,
    tout membre doit vérifier la validité des informations renseignés sur son profil et s'assurer de leur mise
    à jour dés que ces dernières ne sont plus valides, de plus, chaque memnbre acquérant le droit de publier,
    ils doivent s'assurer que leur publications respectent les règles de rédaction.</p>
    <br>
    <p class="text-center"><strong>Article IV - Communauté</strong></p>
  </div>
</div>
{% endblock %}
