{% extends('::layout.html.twig')%}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">Bienvenue sur les forums</h2>
      <hr />
      <p class="text-center">Veuillez noter que ces forums sont modérés par les modérateurs désignés <a href="#">ici</a>, tout problème,
        demande ou question concernant un sujet, un message ou une demande concernant ces forums doit être adressés aux modérateurs via MP/email,
        le temps de réponse dépendra en grande partie du sujet de la demande.
    </div>
  </div>
</div>
{% endblock %}
