{% extends ('layout.html.twig')%}

{% block title %}La communauté{% endblock %}

{% block body %}
    <section class="community-introduction_header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="community-introduction_text">La communauté, la fondation</h2>
                    <hr />
                    <p class="community-introduction_body">
                        Amis de bon goût, voici l'heure de vous donner les clés de JVN-Network, vous êtes ici chez vous, libre,
                        tout puissant et libéré de toute contraintes, vos propos ne seront pas modérés dans cette section (jusqu'à une certain seuil) et
                        vous êtes libre de vaquer à vos occupations, que ce soit la vidéo, le tchat, la webcam ou les "LDS", tout est là pour vous, bonne journée
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="community-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <section class="community-twitter">
                                <div class="col-xs-6">
                                    <h2>Twitter</h2>
                                    <hr />
                                    <!-- Twitter -->
                                </div>
                        </section>
                        <section class="community-Twitch">
                            <div class="col-xs-6">
                                <h2>Twitch</h2>
                                <hr />
                                <!-- Twitch -->
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="community-tchat">
                            <div class="col-xs-6">
                                <h2>Tchat</h2>
                                <hr />
                                <!-- Tchat -->
                            </div>
                        </section>
                        <section class="community-webcam">
                            <div class="col-xs-6">
                                <h2>Webcam</h2>
                                <hr />
                                <!-- Webcam -->
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
{% endblock %}