{% extends ('::layout.html.twig')%}
{% block title %}La communauté{% endblock %}
{% block body %}
<div class="mdl-grid">
  <div class="mdl-cell--12-col-desktop">
      <h2 class="mdl-typography--text-center">La communauté, la fondation</h2>
      <hr />
      <p class="mdl-typography--text-center">Amis de bon goût, voici l'heure de vous donner les clés de JVN-Network, vous êtes ici chez vous, libre,
      tout puissant et libéré de toute contraintes, vos propos ne seront pas modérés dans cette section (jusqu'à une certain seuil) et
    vous êtes libre de vaquer à vos occupations, que ce soit la vidéo, le tchat, la webcam ou les "LDS", tout est là pour vous, bonne journée</p>
  </div>
    <div class="mdl-cell--6-col-desktop">
      <h3 class="mdl-typography--text-center">Twitter</h3>
      <hr />
      <!-- Bloc Twitter -->
    </div>
    <div class="mdl-cell--6-col-desktop">
      <h3 class="mdl-typography--text-center">Le tchat</h3>
      <hr />
      <!-- Bloc Tchat -->
      <ul id="messages"></ul>
      <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>
    </div>
    <div class="col-lg-6">
      <!-- Bloc Twitch -->
      <h3 class="text-center">La chaîne Twitch</h3>
      <hr />
    </div>
    <div class="col-lg-6">
      <!-- Bloc Webcam -->
      <h3 class="text-center">La Webcam</h3>
      <hr />
    </div>
</div>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
{% endblock %}