{% extends ('CoreBundle::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">Oups, la page demandé semble ne pas exister</h1>
      <hr />
      <br>
      <p class="text-center">La page n'existe pas ou a été supprimée, bien que cela soit très
        gênant, veuillez accepter nos plus plates excuses, nous allons vérifier cela dans les
        meilleurs délais, afin de simplifier nos recherches, merci de nous envoyer un mail à [mail]
         ou sur twitter via une capture d'écran.</p>
    </div>
  </div>
</div>
{% endblock %}
