/* ==================================================================================================================
    Colors
   ================================================================================================================== */

/* ==================================================================================================================
    Main Colors
   ================================================================================================================== */

$jvn-color: #cc171e;
$white: white;
$black: black;
$white-dark: #f2f2f2;

$light-grey: #d6d8d8;
