{% extends('layout.html.twig') %}

{% block title %}S'abonner{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <!-- Content -->
            </div>
        </div>
    </div>
{% endblock %}