{% extends ('::layout.html.twig')%}
{% block title %} L'Equipe {% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">L'Equipe de JVN-Network</h3>
      <hr />
      <p><strong>Le commencement</strong></p>
      <p>Bien que le site se base sur sa communauté, il faut des fondus derrière leur écrans pour faire fonctionner
      le tout sans accroc, pour cela, l'Equipe a vu le jour, son but ? Donner un site complet, fluide et libre à tout
      un chacun, afin de faciliter la connexion entre chacun, chaque membre a été formé sur les outils du site, cela
      rend les retours plus simples et précis, mais au fond, qui sont ces fondus ?</p>
      <br>
      <p>Au départ, était Jeux Video Network, simple site qui ambitionnait de changer le monde de la presse vidéoludique,
      les débuts fût hésitants mais la communauté qui se construisit autour du site fut énorme et solide, tout un chacun
      y trouva sa place, le site vécu heureux et insouciant jusqu'à ce que des soucis voient le jour, alors quelque part,
      caché parmis les pseudos tous plus éloquent les un que les autres, parmis ces fidèles des fidèles,
      certains ont voulu poursuivre l'aventure</p>
      <br>
      <br>
      <hr />
      <!-- Bloc Equipe -->
      <h3 class="text-center">Pourquoi nous rejoindre ?</h3>
      <hr />
      <br>
      <p><strong>Quelques explications</strong></p>
      <p>Comme dit plus haut, le site se base uniquement sur sa communauté, mais il faut des fondus, ces fondus
      sont là pour veiller sur le site, ils en sont les gardiens, dans cette optique, l'Equipe doit s'agrandir
      et devenir une marque de fabrique pour le futur, ici, pas de chef ou de supérieur proclamé, chacun est à
      son propre niveau sans rendre de compte à quiconque sur ses avis et envies.
      Mais comment structurer tout ceci ?
      <br>
      D'un côté, vous avez l'équipe technique qui s'occupe de la maintenance du site et de son évolution,
      ces accrocs du clavier sont les responsables à prévenir en cas de soucis, les autres membres de l'équipe
      sont les rédacteurs, véritable maestro de la grammaire, ils manient le Larousse plus vite que le clavier
      et s'assurent que le contenu publié suit une ligne directrice précise et dédié à une qualité de contenu,
      au final, chacun ne peut se passer des autres et cela donne la fondation du site.</p>
      <br>
      <p><strong>Pourquoi vous ?</strong></p>
      <p>Vous parce que vous et personne d'autre, vous parce que vous penser pouvir apporter un plus à ce site,
        vous parce que vous êtes sérieux, motivé et attentif à tout ce qui se fait ailleurs afin d'en tirer le meilleur
        en vue d'en porter une version dédié ici, vous parce que l'on dit de vous que vous êtes fait pour cela.
        <br>
        Bref, vous parce que la communauté vous tente et que partager du contenu avec tous est une seconde nature.
      </p>
      <p><strong>Comment ?</strong></p>
      <p>Nous autorisons n'importe qui à nous rejoindre sans restriction et sans limite de temps, pour cela,
      il vous faut nous contacter par mail via le formulaire dédié en pensant à envoyer un fichier .docx ou .pdf
      contenant une création de votre part (langage SMS s'abstenir), partant de là, l'Equipe regardera chaque
      votre candidature dans un délai de 7-15 jours et vous renverra une réponse.
      <br>
      Si réponse positive, bravo, vous voilà invité à nous rejoindre, via un processus simple et précis,
      nous vous offrons accès à tout le contenu du site, vous recevrez toutes les informations via mail.
      <br>
      Si réponse négative, ce n'est pas grave (et assez rare), vous pouvez retenter votre chance plus tard
      ou bien tenter les concours que nous organisons durant l'année afin de nous rejoindre.
      <br>
      Dans tout les cas, nous accordons une attention particulière à votre satisfaction et vous tenons informé
      de chaque informations que nous jugerions importante de vous communiquer.</p>
      <br>
      <br>
      <p class="text-center"><a href="#" class="btn btn-danger">Nous rejoindre</a></p>
    </div>
  </div>
</div>
{% endblock %}
