{% extends ('layout.html.twig')%}

{% block body %}
  <section class="accueil">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- MasterLogo -->
          <p>Hello World !</p>
        </div>
      </div>
    </div>
  </section>
  <section class="articles">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- Articles -->
          <h1>Nos membres en parlent !</h1>
          <div class="card_article">
            <!-- Show articles -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="informations">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-3">
          <!-- Informations -->
          <p class="_intro">Blog // <em>Discuter du futur</em></p>
          <h1>Comprendre le coeur de la communauté.</h1>
          <p class="_head">
            JVN-Network vit le jour au sein de sa communauté pour sa communauté, ce site se veut donc son antre,
            n'ayez pas peur, franchissez la porte !
          </p>
        </div>
        <div class="col-xs-12 col-lg-9">
          <!-- Informations_content -->
          <p class="_content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit metus in nulla efficitur vehicula.
            Quisque commodo posuere tortor. Sed vitae massa ut lacus auctor aliquet. Vivamus sagittis elit et
            condimentum sagittis. Morbi dapibus ornare augue, tristique dapibus arcu aliquet in.
            Praesent quis purus placerat, feugiat turpis non, maximus est. Phasellus vestibulum pretium ex sed mollis.
            Quisque lacinia placerat velit eget consequat. Donec ac libero tortor. Suspendisse mollis suscipit laoreet.
            Praesent vel sapien sit amet lorem vehicula lobortis at nec orci. Ut rhoncus mollis ultrices. Nunc sodales,
            purus et lacinia tincidunt, dui nunc rhoncus ipsum, id dapibus dolor leo et metus. Quisque non tortor
            consectetur, scelerisque nisl at, pretium erat. Morbi posuere, metus vel scelerisque volutpat, odio ex r
            honcus sem, vitae dignissim odio ex non tellus. Maecenas tempus orci quis eleifend mollis.

            Suspendisse potenti. Proin vestibulum nulla pretium diam imperdiet, eget blandit lectus cursus. Maecenas at
            nulla at tortor tempus varius. Nullam facilisis lorem ut massa egestas, non sagittis erat efficitur.
            Proin enim mauris, fermentum ut quam et, aliquet dignissim est. Phasellus rhoncus vel metus sit amet fermentum.
            Nunc felis tellus, pulvinar ac augue sed, finibus imperdiet quam. Ut et tempus lacus, nec fermentum est.
            Nam sed neque sit amet metus hendrerit varius.

            Nunc ac est nec diam fermentum gravida a egestas turpis. Fusce ornare nisl a ultrices condimentum.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="publications">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- Informations -->
          <p>Hello World !</p>
        </div>
      </div>
    </div>
  </section>
  <section class="equipe">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- Equipe -->
          <p>Hello World !</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


