{% extends ('layout.html.twig')%}

{% block body %}
  <section class="accueil">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- MasterLogo -->
        </div>
      </div>
    </div>
  </section>
  <section class="articles">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- Articles -->
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- Informations -->
        </div>
      </div>
    </div>
  </section>
{% endblock %}


