{% extends ('layout.html.twig')%}

{% block body %}
  <section class="accueil">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- MasterLogo -->
          <p>Hello World !</p>
        </div>
      </div>
    </div>
  </section>
  <section class="articles">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- Articles -->
          <p>Hello World !</p>
        </div>
      </div>
    </div>
  </section>
  <section class="publications">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- Informations -->
          <p>Hello World !</p>
        </div>
      </div>
    </div>
  </section>
  <section class="equipe">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- Equipe -->
          <p>Hello World !</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


