{% extends ('layout.html.twig')%}
{% block body %}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col-desktop">
      <article>
        <!-- Here goes the article bloc -->
          <div class="sec_articles">
            <p>hello World !</p>
          </div>
      </article>
    </div>
  </div>
{% endblock %}


