{% extends ('layout.html.twig')%}

{% block body %}
  <section class="accueil">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- MasterLogo -->
          <p class="_accueil_introduction">Bienvenue,</p>
          <p class="_accueil_subtitle">
            Comment accueillir ceux qui construiront la communauté de demain ? Dans cette optique, nous avons décider
            de vous offrir la parole, à vous et à tout ceux qui construisent cette communauté, commençons l'aventure.
          </p>
          <p class="_accueil_resume">
            <em>"Construire la communauté de demain requiert du savoir-faire mais savoir construire une communauté requiert
            une communautée soudée"</em>
            Voici en substance les paroles qui résonnent encore au sein de l'équipe, sans vous et votre envie, rien n'est
            possible, c'est pourquoi ce site est le vôtre, construisez le monde de demain et la communauté que vous
            voulez voir émerger.
            Nous avons construit ce site, à vous de le faire grandir et évoluer, vous avez les clés dés votre arrivée,
            voici la promesse faite par les membres de l'équipe, sans cette relation de confiance, nous ne pourrions
            jamais faire évoluer votre aventure parmi la communauté.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="articles">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- Articles -->
          <h1>Nos membres en parlent !</h1>
          {% for article in article %}
              <article class="card">
                <header class="card_thumb">
                  <a href="#">
                    <img src="#" alt="#" />
                  </a>
                </header>
                <div class="card_date">
                  <span class="card_day">12</span>
                  <span class="card_month">Mai</span>
                </div>
                <div class="card_body">
                  <div class="card_category"><a href="#">{{ article.categorie }}</a></div>
                  <h2 class="card_title"><a href="#">{{ article.titre|raw }}</a></h2>
                  <div class="card_subtitle"></div>
                  <p class="card_description">

                    Nous avons construit ce site, à vous de le faire grandir et évoluer, vous avez les clés dés votre arrivée,
                    voici la promesse faite par les membres de l'équipe, sans cette relation de confiance, nous ne pourrions
                    jamais faire évoluer votre aventure parmi la communauté.
                  </p>
                </div>
                <footer class="card_footer">
                  <div class="card_author"><p>{{ article.auteur }}</p></div>
                  <span class="card_link">
                    <i class="fa fa-angle-double-right"></i>
                  </span>
                </footer>
              </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class="informations">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-3">
          <!-- Informations -->
          <p class="_intro">Blog // <em>Discuter du futur</em></p>
          <h1>Comprendre le coeur de la communauté.</h1>
          <p class="_head">
            JVN-Network vit le jour au sein de sa communauté pour sa communauté, ce site se veut donc son antre,
            n'ayez pas peur, franchissez la porte !
          </p>
        </div>
        <div class="col-xs-12 col-lg-9">
          <!-- Informations_content -->
          <p class="_content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit metus in nulla efficitur vehicula.
            Quisque commodo posuere tortor. Sed vitae massa ut lacus auctor aliquet. Vivamus sagittis elit et
            condimentum sagittis. Morbi dapibus ornare augue, tristique dapibus arcu aliquet in.
            Praesent quis purus placerat, feugiat turpis non, maximus est. Phasellus vestibulum pretium ex sed mollis.
            Quisque lacinia placerat velit eget consequat. Donec ac libero tortor. Suspendisse mollis suscipit laoreet.
            Praesent vel sapien sit amet lorem vehicula lobortis at nec orci. Ut rhoncus mollis ultrices. Nunc sodales,
            purus et lacinia tincidunt, dui nunc rhoncus ipsum, id dapibus dolor leo et metus. Quisque non tortor
            consectetur, scelerisque nisl at, pretium erat. Morbi posuere, metus vel scelerisque volutpat, odio ex r
            honcus sem, vitae dignissim odio ex non tellus. Maecenas tempus orci quis eleifend mollis.

            Suspendisse potenti. Proin vestibulum nulla pretium diam imperdiet, eget blandit lectus cursus. Maecenas at
            nulla at tortor tempus varius. Nullam facilisis lorem ut massa egestas, non sagittis erat efficitur.
            Proin enim mauris, fermentum ut quam et, aliquet dignissim est. Phasellus rhoncus vel metus sit amet fermentum.
            Nunc felis tellus, pulvinar ac augue sed, finibus imperdiet quam. Ut et tempus lacus, nec fermentum est.
            Nam sed neque sit amet metus hendrerit varius.

            Nunc ac est nec diam fermentum gravida a egestas turpis. Fusce ornare nisl a ultrices condimentum.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="publications">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- Informations -->
          <h1>L'Equipe en direct :</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="equipe">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!-- Equipe -->
          <p class="_equipe_title">Voir le futur</p>
          <p class="_equipe_introduction">
            Etre visionnaire ne suffit plus, pour se démarquer, il faut savoir faire la différence sur l'offre, avec
            jvn-network, l'équipe en charge voulait pousser plus loin les limites de l'aspect communautaire, pour cela,
            il fallait faire sauter les barrières entre membres.
          </p>
          <p class="_equipe_resume">
            Suspendisse potenti. Proin vestibulum nulla pretium diam imperdiet, eget blandit lectus cursus. Maecenas at
            nulla at tortor tempus varius. Nullam facilisis lorem ut massa egestas, non sagittis erat efficitur.
            Proin enim mauris, fermentum ut quam et, aliquet dignissim est. Phasellus rhoncus vel metus sit amet fermentum.
            Nunc felis tellus, pulvinar ac augue sed, finibus imperdiet quam. Ut et tempus lacus, nec fermentum est.
            Nam sed neque sit amet metus hendrerit varius.

            Suspendisse potenti. Proin vestibulum nulla pretium diam imperdiet, eget blandit lectus cursus. Maecenas at
            nulla at tortor tempus varius. Nullam facilisis lorem ut massa egestas, non sagittis erat efficitur.
            Proin enim mauris, fermentum ut quam et, aliquet dignissim est. Phasellus rhoncus vel metus sit amet fermentum.
            Nunc felis tellus, pulvinar ac augue sed, finibus imperdiet quam. Ut et tempus lacus, nec fermentum est.
            Nam sed neque sit amet metus hendrerit varius.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


