/* ==================================================================================================================
    Footer
   ================================================================================================================== */

footer {
  height: 350px;
  color: $dark-blue;
  position: fixed;
  p {
    color: $white;
    font-size: 15px;
  }
}