/app/config/parameters.yml
/build/
/composer.phar
/vendor/
/web/bundles/
/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/phpunit.xml

# Npm modules
/node_modules/

# Front assets
/web/dev/assets/*

# Compiled assets
web/prod/app/*

# IDE
.idea/
