<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ web/$1 [QSA,L]

    Rewritecond %{HTTP_HOST} ^jvn-network.fr
    Rewritecond %{REQUEST_URI} !^
    Rewriterule ^(.*)$ /web/app.php

    Options -MultiViews
    #RewriteBase /web/
    RewriteRule ^ app.php [L]
</IfModule>
