/* ==================================================================================================================
    Home Style
   ================================================================================================================== */

/* ==================================================================================================================
    Accueil Style
   ================================================================================================================== */

.accueil {
  max-height: 840px;
}

/* ==================================================================================================================
    Articles Style
   ================================================================================================================== */

.articles {
  max-height: 760px;
  background-color: $jvn-color;
}

/* ==================================================================================================================
    Informations Style
   ================================================================================================================== */

.informations {
  max-height: 953px;
}

/* ==================================================================================================================
    Publications Style
   ================================================================================================================== */

.publications {

}

/* ==================================================================================================================
    Publications Style
   ================================================================================================================== */

.equipe {
  max-height: 780px;
  background-color: $white-dark;
  .card-article {
    position: relative;
    background-color: $white;
    height: 570px;
    width: 380px;
  }
}