<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}JVN-Network.fr - Là où la communauté prend les commandes{% endblock %}</title>
  {% block stylesheet %}
  <link href="#" rel="stylesheet" />
  <link href="#" rel="stylesheet" />
  {% endblock %}
</head>
<body>


{% block javascript %}
{% endblock %}
</body>
</html>
