/* ==================================================================================================================
    Community
   ================================================================================================================== */

.community-introduction_header {
  background-color: $dark-blue;
  max-height: 540px;

  // Community introduction text
  .community-introduction_text {
    color: $white;
    text-align: center;
    font-size: 15px;
  }

  // Community body text
  .community-introduction_body {
    color: $white;
    text-align: center;
    font-size: 12px;
  }
}