{% extends ('CoreBundle::layout.html.twig')%}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">La communauté, la foundation</h2>
      <hr />
      <p class="text-center">Amis de bon goût, voici l'heure de vous donner les clés de JVN-Network, vous êtes ici chez vous, libre,
      tout puissant et libéré de toute contraintes, vos propos ne seront pas modérés dans cette section (jusqu'à une certain seuil) et
    vous êtes libre de vaquer à vos occupations, que ce soit la vidéo, le tchat, la webcam ou les "LDS", tout est là pour vous, bonne journée</p>
    </div>
    <div class="col-lg-12">
      <!-- Blog Vidéo -->
    </div>
  </div>
</div>
{% endblock %}
