/* ==================================================================================================================
    Navigation Style
   ================================================================================================================== */

header {
  max-height: 280px;
  nav {
    ul {
      li {
        display: inline-block;
        text-decoration: none;
      }
    }
  }
}