{% extends ('::layout.html.twig')%}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">Administrer le blog de l'Equipe</h2>
      <hr />
      <p class="text-center"><strong><em>Note technique</em></strong> : Vérifier toujours votre modification/ajout/suppression avant validation, toute
        requête envoyée étant traitée par le serveur, cette dernière doit-être valide et conforme à la mise en page</p>
    </div>
  </div>
</div>
{% endblock %}
