{% extends ('CoreBundle::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">Bienvenue sur le blog des Membres</h2>
      <hr />
    </div>
    <div class="col-lg-12">
      <!-- On affiche les commentaires via la boucle for -->
    </div>
  </div>
</div>
{% endblock %}
