{% extends ('CoreBundle::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">Bienvenue sur le blog des Membres</h2>
      <hr />
    </div>
    <div class="col-lg-12">
      <!-- On affiche les commentaires via la boucle for -->
      {% for article in article %}
        <article>
          <!-- On permet de lire l'article dans une page séparé avec les commentaires -->
          <h2 class="text-center"><a href="{{ path('team_article', {'id': article.id }) }}">{{ article.titre }}</a></h2>
          <p class="text-center">Par <em>{{ article.auteur }}</em></p>
          <p class="text-center">{{ article.contenu|raw }}</p>
        </article>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
