{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
      <h2 class="text-center">Modifier mon compte</h2>
      <hr />
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            {{ form_widget(form) }}
            <div class="text-center">
                <input class="btn btn-danger" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    </div>
  </div>
</div>
