/* ==========================================================================
    List of colors used
   ========================================================================== */

$jvn-color: #B71C1C;
$white: white;
$black: black;
