{% extends('::layout.html.twig')%}

{% block title %} Le blog de l'equipe {% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="text-center">Bienvenue sur le Blog officiel de l'Equipe</h2>
      <hr />
      {% for article in article %}
        <article>
          <div class="card white darken-1">
            <div class="card-content black-text">
              <span class="card-title">{{ article.titre }}</span>
              <p>{{ article.contenu[:60]|raw }}</p>
            </div>
            <div class="card-action">
              <a href="{{ path('home_view', {'id': article.id, 'slug': article.slug }) }}" class="red-text">
                Lire l'article
              </a>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
