/* ==================================================================================================================
    Style home
   ================================================================================================================== */

.sec_articles {
  margin-top: -100px;
  border: dashed 1px black;
  color: aqua;
}